[2022-01-17 22:01] justin808 opened #9 "Suggestions for the name of this project"
_Warning, the final name of this fork and evolution of rails/webpacker is still pending waiting on community feedback._

What name would make sense so the name is not confusing with old rails/webpacker?

Since the old repository will not be transferred, we need a new name.

[2022-01-18 17:38] t27duck commented on #9
`webpack-pipeline`?  `webpacking`? `webpack-rails`?

[2022-01-18 23:57] justin808 commented on #9
We went with `shakapacker`.

[2022-01-19 10:44] tomdracz opened #12 "Releases link in upgrade docs"
The releases link in the v6_upgrade.md (https://github.com/shakacode/shakapacker/blob/master/docs/v6_upgrade.md?plain=1#L36) links to https://github.com/rails/webpacker/releases

The release page in rails/webpacker repo itself is empty. Will the shakapacker use this so we can update the link or is there a better link to reference versions (tags? https://github.com/shakacode/shakapacker/tags)

[2022-01-19 19:27] t27duck opened #13 "Bundler does not load webpacker.rb or the rest of the gem"
A bug is a crash or incorrect behavior. If you have a debugging or troubleshooting question, please open a discussion on the [Rails forum, category webpacker](https://discuss.rubyonrails.org/c/webpacker/10)

Ruby version: 3.0.3
Rails version: 6.1.x
Webpacker version: shakapacker 6.0.0.rc.12

Expected behavior:

Having `gem "shakapacker", "6.0.0.rc.12"` in the Gemfile properly loads up the new gem

[2022-01-19 19:35] t27duck commented on #13
Alternatively, a "quick fix" can be to put a `shakapacker.rb` file in `lib/` and have it simply `require "webpacker"`

[2022-01-19 20:13] #9 closed

[2022-01-19 22:37] justin808 commented on #13
Fixed in rc.13.

[2022-01-19 22:37] #13 closed

[2022-01-19 22:43] justin808 commented on #12
@tomdracz does this fix the issue?

https://github.com/shakacode/shakapacker/commit/388e9acd6c05e591865e0f1d64563d94df7bc401

[2022-01-19 22:43] #12 closed

[2022-01-20 00:10] justin808 opened #15 "Remove addition of node_modules to Rails.application.config.assets.paths"
This change added to v6 is probably no longer necessary. Instead, we can probably document why one would do this.

https://github.com/rails/webpacker/commit/47b1e0662aed1649110ab25f3f178da588ddf670

[code]

[2022-01-20 00:11] justin808 opened #16 "Why do we have the PnpWebpackPlugin as a default?"
The PnpWebpackPlugin was added by @gauravtiwari on

https://github.com/rails/webpacker/commit/e95dd724ea3a385b9cc6935c3a07a34f1d1f9657#diff-1701de23f718ce36149c9b23e2db08caR14

Given the long discussion in https://github.com/yarnpkg/rfcs/pull/101

Do we really need the PnpWebpackPlugin as a default?

What problem does it solve?

[2022-01-20 00:16] justin808 opened #17 "Raise an error when javascript_pack_tag or stylesheet_pack_tag are called more than once"
See https://github.com/rails/webpacker/pull/3083 from @guillaumebriday.

Fixes https://github.com/rails/webpacker/issues/3068

However, might not still be an issue per [this comment](https://github.com/rails/webpacker/issues/3068#issuecomment-905648010).

[2022-01-20 11:02] justin808 commented on #17
Hi @tomdracz, if you put together a PR with a reproduction case and tests, I'll give it a review ASAP.

Ideally, we can get this fixed in the next few days! and 🚢  :shipit:

[2022-01-20 12:39] tomdracz commented on #17
@justin808 Added https://github.com/shakacode/shakapacker/pull/19 to raise on multiple calls

[2022-01-20 14:13] tomdracz commented on #15
Opened #20 for this

[2022-01-20 17:22] tomdracz commented on #16
Since we're targeting Webpacker 5 we should be able to remove this as PnP is supported by default https://webpack.js.org/migrate/5/#clean-up-configuration

Not using PnP in any of my projects so don't quite have repro case to test against if we decide to remove it but apparently just getting rid of it is all that's needed

[2022-01-21 18:02] Judahmeek commented on #16
Fixed by #21

[2022-01-21 18:02] #16 closed

[2022-01-21 18:04] Judahmeek commented on #15
Fixed by #20

@tomdracz [you could have actually made your PR close this issue.](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword)

[2022-01-21 18:04] #15 closed

[2022-01-21 18:04] Judahmeek commented on #17
Fixed by #19

[2022-01-21 18:04] #17 closed

[2022-01-21 18:12] tomdracz commented on #15
Thanks @Judahmeek TIL!

[2022-01-22 11:02] tomdracz opened #26 "Incorrect reference to the next release tag"
We're referencing `shakapacker@next` in
https://github.com/shakacode/shakapacker/blob/master/README.md?plain=1#L612
and https://github.com/shakacode/shakapacker/blob/master/lib/install/template.rb#L63-L64

However, there is no `next` tag in the NPM registry, we've got `rc` instead. Compare [shakapacker](https://www.npmjs.com/package/shakapacker?activeTab=versions) vs [rails/webpacker](https://www.

[2022-01-23 06:49] justin808 commented on #26
@tomdracz great catch:

![image](https://user-images.githubusercontent.com/1118459/150667867-c22d0813-afdd-4761-9f90-0fc0dd155686.png)

I added the next tag.

**Is anything else needed before a final 6.0.0 release?**

[2022-01-23 06:49] #26 closed

[2022-01-23 09:14] justin808 opened #27 "ENHANCEMENT: Support or switch to SWC"
[SWC](https://swc.rs/) might dramatically speed up build times.

Does anybody want to try a PR  that swaps Babel for SWC?

[2022-01-24 23:51] justin808 commented on #27
See #29.

[2022-01-27 07:16] justin808 commented on #27
Closing as the details are in #29.

[2022-01-27 07:16] #27 closed

[2022-01-27 10:59] hishammalik commented on #17
This actually creates an issue whereby I have two separates packs of javascript. One is defered for optimization reason whereas the other cannot be deferred.

With this exception added, I'm unable to use both deferred: true and false option for two separate packs.

Should be reverted I think as there is no restriction in html as to how many script tags you can put.

[2022-01-27 13:00] tomdracz commented on #17
@hishammalik Can you open a new issue so this doesn't get lost in the noise?

[2022-01-28 00:52] justin808 opened #34 "Improvements to CI"
I think the gem should have 2 big improvements to CI:

1. A sample app, like `/spec/dummy` https://github.com/shakacode/react_on_rails/tree/master/spec/dummy
2. CI steps that run `rails new` and the webpacker generator, and then a test, like [those here in React on Rails](https://github.com/shakacode/react_on_rails/tree/master/rakelib)

Take a look at https://github.com/shakacode/react_on_rails/bl

[2022-01-28 03:27] woodhull opened #35 "yarn 2 + pnp modules?"
Ruby version: 3.0
Rails version: 6.1
Webpacker version: 6.0.2

Desired behavior: yarn 2 + pnp modules.

Actual behavior: I'm not clear on whether this is supposed to work out of the box or not. There was a webpacker issue that was closed before migrating to this repository.

[2022-01-28 12:21] tomdracz commented on #35
AFAIK, Yarn 2(3) should be supported but no PnP modules support yet. Haven't used PnP anywhere yet so hard to say what's actually needed in supporting this.

https://yarnpkg.com/getting-started/migration#step-by-step setting `nodeLinker: node-modules` is a must at the moment so we opt out of PnP modules. This is actually documented in the CHANELOG.md but bit buried away.

[2022-01-28 22:45] justin808 opened #36 "Ensure consistent version of package and gem"
Let's have a check that ensures the shakapacker npm version matches the gem version if the npm package is used for webpack configuration.

I think we just check if the npm package is installed (in package.json) and assume that if it's not there, then someone has a completely custom webpack config setup.

Example code:
https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/versi

[2022-01-29 02:32] kikyous opened #37 "[Feature request] all config in js, remove config/webpacker.yml"
Currently some webpacker config located in config/webpacker.yml and some in config/webpack/*.js

This leads to a problem: when I build assets. I need both nodejs and ruby environment.

This troubled me when I have to build assets in docker.

So can we move all webpacker config to  config/webpack/*.js ?

Two advantages:
* Simplify the build environment.
* Make webpacker more thin, closer to webpack

[2022-01-29 04:29] kikyous commented on #37
Sorry, I found we can build assets like this in nodejs only environment:
`RAILS_ENV=production yarn webpack --mode production -c config/webpack/webpack.config.js`

[2022-01-29 08:55] tomdracz commented on #36
@justin808 Makes sense to me, good shout!

Probably should update the installation scripts and docs while we're at it, to use bundle`--strict` and yarn `--exact` options.

Thanks for react-on-rails examples, I'll take a stab at it over the coming days.

[2022-01-29 10:35] tomdracz opened #39 "Easier handling of multiple pack_tag invocations"
Continuing from discussions like https://github.com/rails/webpacker/issues/3068

We are now raising an error when pack_tag helpers are used multiple times during the rendering. This solves hard to debug issues with double script loading, but it's fairly heavy handed approach, especially if we don't provide easy way to solve those issues. At the moment, users are required to roll out some custom lo

[2022-01-29 10:37] tomdracz commented on #39
Note there's also things like https://github.com/shakacode/shakapacker/issues/17#issuecomment-1023088856 that references inability to mix and match defer options.

That might be bit trickier to solve, if you're deduplicating chunks when some use defer and some do not, how do you decide which one can be deferred?

[2022-01-29 11:06] #37 closed

[2022-01-29 19:07] tagliala opened #41 "Readme: conflict in prerequisites?"
Hi,

just noticed that as per [prerequisites](https://github.com/shakacode/shakapacker#prerequisites), shakapacker requires Rails 2.7+ and Ruby 5.2+, but Rails 5.2 does not officially support Ruby 2.7 rails/rails#38426

Should this be considered a conflict or an unsupported combination?

[2022-01-30 10:24] tomdracz commented on #41
Good spot @tagliala  !

Looks like requirement of Ruby 2.7 was introduced in https://github.com/rails/webpacker/pull/3156 as it's the minimum that Rails 7 supports.

This indeed creates bit if discrepancy in the requirements. I think we've got 2 months left of Ruby 2.6 before EOL.

I'll open a PR, since we've pretty much dropped Rails 5.2 support with Ruby requirement change, we might as well upda

[2022-01-30 10:41] tomdracz commented on #41
Looking at this though, TECHNICALLY, Rails 5.2 doesn't discard 2.7 in the gemspec https://github.com/rails/rails/blob/5-2-stable/rails.gemspec This is why our tests running Rails 5.2 against Ruby 2.7 pass (although with deprecation warnings for kwargs).

So looks like you can still run this combo but you're likely to hit some problems along the way. Considering the mismatch, Rails team position on

[2022-02-01 07:26] justin808 commented on #41
Since the surface area of webpacker is small, we should support 5.2.

[2022-02-01 07:26] #41 closed

[2022-02-02 08:14] honzasterba opened #44 "Webpacker can't find subdir/image.png in manifest.json"
Ruby version: 3.03
Rails version: 7.0.1
Webpacker version: 6.0.2 (same for js and gem)

Expected behavior:
- put an image file into /app/javascript/images/subdir/image.png
- use `image_pack_tag "subdir/image.png"` in view
- image should be found by webpacker and rendered

Actual behavior:
Error is raised: Webpacker can't find subdir/image.png in .../manifest.json

Small, reproducible repo:
https:/

[2022-02-02 08:16] honzasterba commented on #44
first I thought I was doing something wrong, but this just seems like a big source of incompatibility between webpacker and shakapacker

webpack-asset-manifest says: will generate a JSON file that matches the original filename with the hashed version

so maybe thats it? instead of file-path->hashed-version it generates only file-name->hashed version?

there is a difference to how to manifest used

[2022-02-02 12:32] tomdracz commented on #44
Looks like this was open issue with rails/webpacker. For more see https://github.com/rails/webpacker/issues/2956. Likely changed in https://github.com/rails/webpacker/pull/2802 Need to dig into this and figure out what was the reason for this change.
It did trip me up when I was upgrading, referencing asset name without a folder seems to work but might cause some issues as outlined in the discussi

[2022-02-02 14:18] saiqulhaq commented on #34
for the first point
I found that there are `mounted_app` and `test_app` in the `test` directory
So we need another app to test the Shakapacker generator command?

[2022-02-02 20:20] justin808 commented on #35
Should this issue stay open?

[2022-02-02 20:21] justin808 commented on #34
It would be good for CI to run rails new and confirm that a simple app "works" with an integration test.

[2022-02-03 00:55] saiqulhaq commented on #34
ok I will send a PR for it

[2022-02-03 13:55] tomdracz commented on #44
@honzasterba Can you try out the changes in https://github.com/shakacode/shakapacker/pull/47 and see if that fixes the issue for you?

[2022-02-03 14:12] honzasterba commented on #44
will do!

[2022-02-03 19:31] honzasterba commented on #44
I have checked and I can verify that #47 fixes the issue

[2022-02-03 19:40] tomdracz commented on #44
Thanks! Need to give it few me spins but hopefully we can merge and release soon!

[2022-02-04 10:13] #35 closed

[2022-02-04 10:23] justin808 commented on #44
Awesome work guys!

[2022-02-04 10:23] justin808 commented on #44
I'll release 6.1.0 on Friday.

[2022-02-04 10:24] justin808 commented on #34
@saiqulhaq would be awesome if such a change supported showing the bug fixed by #47! (CC @tomdracz)

[2022-02-04 20:11] #44 closed

[2022-02-04 20:27] justin808 opened #49 "Add support for https://github.com/privatenumber/esbuild-loader like SWC"
Check out what we did for SWC:

https://github.com/shakacode/shakapacker/pull/29

And create a PR here, like what we did for SWC:
https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh

[2022-02-05 00:17] tomdracz commented on #49
Just some notes for anyone looking to pick this up!

Actual new rule setup should be super straightforward - SWC PR linked can be used as good basis on how to determine if loader is available, how to have rule as a function so current filename can be processed etc Easy peasy!

While at it, it could be good to see if we can also swap out Terser for esbuild, which should be faster. More info in arti

[2022-02-05 00:26] RailsCod3rFuture opened #50 "Receiving WebSocket connect to 'wss://hostname:3035/ws' failed"
During deployments to dev/production servers, everything works perfectly fine with websockets. Now, I am trying to use shakapacker on Docker and I receive "Unable to process ChannelName#action" Is there anything specific that I have to do, in order to communicate with web sockets using this version? I'm running Redis on the same container as the rails app and I am able to connect to it using 127.0

[2022-02-05 09:42] tomdracz commented on #50
If anything you might be facing Webpack rather than Shakapacker change. Default socket communication has changed from sockjs to native websocket (https://webpack.js.org/configuration/dev-server/#devserverwebsocketserver) - if you weren't using `ws` communication explicitly before, that might be a change for you.

You will need to play around with the dev server config and/or your docker setup. Try

[2022-02-07 00:41] justin808 opened #55 "Should shakapacker support JSX and React by default for Babel"
I had previously moved React support to docs in https://github.com/rails/webpacker/pull/3224/files.

Given that esbuild and swc will support JSX by default, maybe the babel config should be moved back?

I'm also working on https://github.com/shakacode/react-on-webpacker/ which could make that configuration easier.

[2022-02-07 08:54] tomdracz commented on #49
Looks like I've linked to the wrong issue in the PR, d'oh! We can close this one.

[2022-02-07 09:02] justin808 commented on #49
Fixed in #53

[2022-02-07 09:02] #49 closed

[2022-02-07 09:12] tomdracz commented on #55
In two minds about this.

On one hand, it would it would bring it closer to other loaders and follow similar thing to TS or SASS - config is there and you just need to install the package.

Still, esbuild and SWC do support it without additional package (like preset-react) so it makes sense for it to be there. Having the support there also makes things bit easier - both SWC and esbuild need to hav

[2022-02-20 00:53] cheald opened #68 "Option to not use style-loader"
Ruby version: 2.7.4
Rails version: ~> 5.2.6
Webpacker version: 6.1.1

Desired behavior:

mini-css-extract-plugin is [capable of HMR now](https://github.com/webpack-contrib/mini-css-extract-plugin/pull/334). I'd like the ability to opt into just using it all the time, even when HMR is set in webpacker.yml. I'd like to get style-loader out of the dev pipeline so that my development and production en

[2022-02-20 05:21] justin808 commented on #68
@cheald can you submit a PR? This sounds reasonable.

Yes, we can have `inline_css` inside of the HMR config.

@tomdracz, thoughts?

[2022-02-20 07:02] cheald commented on #68
Sure, I whipped something up. If you have further direction on what you'd like to see, I'm happy to further improve it.

[2022-02-21 09:30] #36 closed

[2022-02-28 17:12] stevecrozz opened #73 "Intermittent Webpacker.dev_server.running? behavior"
This bug report was originally filed against rails/webpacker [#3269](https://github.com/rails/webpacker/issues/3269). I'm opening it here even though I've only reproduced this bug with rails/webpacker because I see the problematic default timeout value is identical here as it was in rails/webpacker.

[2022-03-02 21:42] justin808 commented on #73
@stevecrozz if you can submit a PR with some repo steps, that would be a great contribution.

[2022-03-07 06:23] matoni109 commented on #68
@cheald just i've got a `rails 5` setup just wondering where you placed below code ?

I've tried `lib/webpacker/instance_methods.rb`

[code]

[2022-03-07 08:20] justin808 commented on #68
@matoni109 please see comments here: https://github.com/shakacode/shakapacker/pull/75/files

[2022-03-08 20:24] justin808 commented on #39
Here's a solution for distributing calls to the setup of the javascript_pack_tag inside of partials.

The clever part is the content_for in a helper:

## Add this helper in /app/helpers/react_helper.rb

[code]

## Views then have
[code]

## Then the layout has:

[code]

Or

[code]

Or
[code]

## Ensure the used layout has a javascript_pack_tag with `(yield :view_tags).strip.split(" ")`
[code]

**T

[2022-03-09 18:39] dleavitt opened #77 "SWC Config Output is Strange, Wrong-Seeming"
Was playing around with the swc option (neat!) and encountered this. Happy to take a pass at fixing.

Ruby version: 3.1.1
Rails version: 7.0.2.2
Webpacker version: 6.1.1

### Expected behavior:

The following, rather unambitious Javascript, when compiled with `webpack_loader: "swc"` and no further customization to the ~~web~~ **shaka**packer config, should compile to Javascript that works.

**Inpu

[2022-03-10 09:04] justin808 commented on #77
@dleavitt would love to get a PR! 😄 😄 😄

[2022-03-10 10:55] tomdracz commented on #77
@dleavitt Looks like its `loose` option under env that causes this behaviour, not sure why though https://swc.rs/docs/configuration/supported-browsers#additional-options

Doesn't help that SWC also defines loose at other level https://swc.rs/docs/configuration/compilation#jscloose

Had some issues with SWC docs so not sure what's going on here. I've opened up issue here https://github.com/swc-proj

[2022-03-10 21:07] tomdracz commented on #77
BTW looks like reported issue in SWC repo has been closed with PR so hopefully all will be good in next SWC release.

Still, happy for us to get rid of the loose option. I've only added it for parity with default babel config but we might as well leave that config to the user.

[2022-03-11 01:24] dleavitt commented on #77
I was also confused by the "loose" in two different places thing.

PR @ #79

happy to update it to remove `loose` entirely - seems like a good idea to remove unless it has the potential to make migration from babel harder.

[2022-03-11 08:48] tomdracz commented on #77
Docs talk about `jsc.loose` as equivalent of Babel setting so let's go with changes as per your PR @dleavitt Thanks!

[2022-03-11 08:49] tomdracz commented on #73
@justin808 good to close!

[2022-03-11 08:49] tomdracz commented on #68
@justin808 good to close!

[2022-03-11 11:40] jdelStrother commented on #39
We also had problems with the "helpful" error - some of our pages have a minimal print stylesheet - eg:

[code]

which seems like it ought to be allowed. For now we've worked around it by manually setting `@stylesheet_pack_tag_loaded = false` after the first stylesheet_pack_tag call.

[2022-03-11 22:37] #73 closed

[2022-03-14 07:07] #68 closed

[2022-03-14 07:07] #77 closed

[2022-03-14 07:13] justin808 commented on #39
@jdelStrother any recommended fix?

In the example above, could you have used the "print" media option for both `application` and `print` packs?

[2022-03-14 09:28] jdelStrother commented on #39
Nothing good... maybe it should only warn if `options` isn't present? Or, eg -

[code]

so that it warns you for cases like these:

[code]

without impacting cases like these:

[code]

which should maybe just be left as completely separate entrypoints.

I'm not sure I follow... you mean like this?

[code]

That would mean my page has no styles except when viewed on a printer.

I could technically

[2022-03-14 22:04] tomdracz commented on #39
Looking back at this, I'm wondering whether we actually need same raise/strictness behaviour with stylesheets. I've originally took the same approach as original webpacker PR that never got merged and ended up applying raise to both helpers.

Need to play around with it to see if any duplication actually happens here, but in general, I wouldn't expect anything here to be as bad as it can be when J

[2022-03-15 08:05] justin808 commented on #39
@tomdracz @jdelStrother While we definitely had terrible issues if JS is reloaded per React hooks, could we consider if the stylesheet pack tag helper should have an option if it should load chunks?

@jdelStrother could you try to figure out what the right webpack configuration looks like and how we'd document this?

Check out:

https://github.com/rails/webpacker/pull/2895

[2022-03-15 20:19] dleavitt opened #80 "Easier granular opt-out of defaults"
Ruby version: 3.1.1
Rails version: 7.0.2
Webpacker version: 6.1.1

**Desired behavior:**
I want to tweak the style-loader options [^1] but otherwise opt-in to the excellent webpack defaults provided.

**Actual behavior:**
As far as I can tell it's a little harder to do this now that loaders/plugins etc aren't named. I'm currently digging through the list of rules and matching on the "test" values,

[2022-03-16 13:24] jdelStrother commented on #39
To my knowledge, webpack never splits css into reusable chunks - ie, if you have an entrypoint like application.scss:

[code]

it doesn't get split into two vendors-node_modules_bootstrap-abcdef.css and application-abcdef.css chunks.

So, for every CSS entrypoint, it's always only going to consist of a single chunk. So `stylesheet_pack_tag(:application, :admin)` will always result in two (and only

[2022-03-18 08:43] justin808 commented on #39
@jdelStrother if you're 💯 sure, can you submit a PR and we'll get this released!

We also need to update the docs!

[2022-03-18 08:48] tomdracz commented on #39
Chunking in css can definitely happen, away from my laptop so don't have example but I've seen it on my app.

Still, double loading CSS should be less problematic than JS case and sometimes desired if you want to use something like `media: print`

Happy for us to remove the raise for stylesheets

[2022-03-18 11:57] jdelStrother commented on #39
I'm 9️⃣0️⃣ sure at best - have never seen it in my webpack usage, but that's only one app. I'd definitely defer to @tomdracz if he thinks it can happen, though even then I'm struggling to see how it would cause the sort of problems we see if you try and load duplicate chunks via multiple javascript entrypoints.

[2022-03-18 12:16] tomdracz commented on #39
Exactly, it can happen but the effect is minimal so let's remove the raise from the stylesheet helper. Open up PR @jdelStrother or if you unable to, lemme know and I can set one up over the weekend. Should be pretty straightforward as original only changed two files https://github.com/shakacode/shakapacker/pull/19/files 😉

[2022-03-20 08:52] justin808 commented on #80
@dleavitt I appreciate this work!

The current system relies on webpack-merge and plain JS coding on top of the base defaults.

I'm concerned that we create too many alternatives for accomplishing the same thing.

Let's think about this some more.

And some doc example recipes should always be appreciated!

[2022-03-28 06:04] justin808 commented on #80
I thought a bit more about this. I agree that it might be nice to allow including some module but opting out of the default customization. `webpack-merge` is great for adding some configuration, but it might not conveniently remove the extra parts added just because a module was included.

[2022-03-28 17:06] vtamara commented on #39
Hi.  To try out,  I started this repository <https://github.com/vtamara/example_multiple_pack_tag>

Initially it has commented the second `javascript_pack_tag` in `app/views/layouts/application.html.erb`

Is this a good example?  Could you please add more situations that should be addressed?

Blessings.

[2022-03-29 08:32] justin808 commented on #39
@vtamara AWESOME to see you try to put together an example repo.

However, the example scenarios should include using Rails partials that need to reference bundles. And we don't want to require that the main layout knows all the scenarios.

1. Simple view references a bundle and that needs to get reflected in the layout. I think this is what you're referencing.
1. Using partials in the main view t

[2022-03-29 15:16] jdelStrother commented on #39
Just to throw in an alternate approach that people might consider - we (Audioboom) have a single Webpack entrypoint for the entire website*, and then let the frontend code deal with dynamically loading any extra bits of functionality with webpack code splitting.

A (oversimplified) calendar-component partial might look something like:

[code]

And then our entrypoint looks for matching selectors v

[2022-03-29 15:16] jherdman opened #87 "Shakapacker conflicts with vue-loader"
Ruby version: ruby 2.6.6p146 (2020-03-31) [x86_64-darwin17]
Rails version: Rails 6.1.4.1
webpack: 5.70.0
webpack-cli: 4.9.2
webpack-dev-server 4.7.4

# Expected behavior

Vue files are correctly handled when using the vue-loader.

# Actual behavior

The "raw" rule incorrectly tricks the vue-loader's `foo.html.vue` check (https://github.com/vuejs/vue-loader/blob/7123a37ff68eaaebec515b029fb602cb4d8c

[2022-03-29 15:31] AlecRust opened #88 "Caching issues in Development since migrating to Shakapacker"
We used to run a pretty standard Webpacker 5 setup, which **in Development** resulted in HTML like this:

[code]

We then migrated to (equally plain/default) Shakapacker 6 setup, which **in Development** now results in HTML like this:

[code]

We expected `SplitChunks` to be enabled here, however **the contenthash has also been removed from some filenames**, like `runtime.js` and most problematica

[2022-03-30 04:17] bgwilson87 commented on #88
I agree.  I'm in the process of migrating to shakapacker, and it took me a while to figure out why my js and css changes were not updating in my browser on development (application.js and application.css were being cached since they no longer had the contenthash)

[2022-03-30 04:31] vtamara commented on #39
I improved the example adding a third pack (and React component) ShowTime that just shows the current time.

The file `app/vieews/layout/application` presents different combinations of loading the packs.
<https://github.com/vtamara/example_multiple_pack_tag/blob/45add39f294f93744436945307f90bb1006832b7/app/views/layouts/application.html.erb#L9-L27>

IMHO the components in the loaded packs should b

[2022-03-30 04:49] vtamara commented on #39
I have a proposal of solution <https://github.com/shakacode/shakapacker/pull/91>, that at least allows the example to run as I imagined:
![image](https://user-images.githubusercontent.com/701221/160752730-7378cb3e-9e00-488e-b01c-0d50404bbcf6.png)

The header and the footer are in one pack (`application.js`) and are rendered in `app/views/layout/application.html`.  The header is server side rendere

[2022-03-30 11:58] tomdracz commented on #39
Looking at the discussion here and trying to get over my initial thinking, I'm struggling to find a good way to get this going.

There are shortcomings of every solution but the closest I can think of is something along the lines of:
- Only allow ONE `javascript_pack_tag` call per page (ideally in the head?)
- Provide helpers to append additional tags to the load - those should be able to take opt

[2022-03-30 17:19] vtamara commented on #39
Thank you for feedback.

I added to the example another component to show the current date and partials in the layout and in the main template.
https://github.com/vtamara/example_multiple_pack_tag/commit/e6ab0f3d7f0f50111dd3432901ae50eb48d54528

(I still have not added turbolinks).

[2022-03-30 17:37] vtamara commented on #39
Debugging how actionview handles, I think it alwasy process first partials.

Suppossing that and that there is at least one javascript_pack_tag in the layout or in the main template I proposed another implementation.

It leaves in a queue the chunks required in the partials.

When it can emit chunks of the main template or of the layout it emits also those in queue.

With this idea, the example wo

[2022-03-30 20:33] jameshibbard opened #92 "How do I set up HMR for a React project using Shakapacker?"
Hi,

I'm having trouble setting up a React project with HMR.

I tried following the steps outlined here: https://github.com/shakacode/shakapacker/blob/master/docs/customizing_babel_config.md

Whenever I make a change to a CSS file, HMR happens as expected.

However, when I edit a React component, I see the following error message:

[code]

What am I doing wrong?

Is it possible to set things up so

[2022-03-30 21:08] tomdracz commented on #92
Hey @jameshibbard I think there's a piece of the puzzle missing - webpack plugin `@pmmmwh/react-refresh-webpack-plugin` needs to be applied so you need to customise webpack config also. Docs at https://github.com/shakacode/shakapacker#webpack-configuration talk about the procedure.

You can see how this is applied in the example repo:
https://github.com/shakacode/react_on_rails_demo_ssr_hmr/blob/m

[2022-03-30 23:46] woodhull opened #93 "swc transpilation not working"
Ruby version: 3.1.0
Rails version: 7.0.2
Webpacker version: 6.2.0
swc: 1.2.161

Expected behavior:

in `config/swc.config.js` I've attempted to configure a browserlist:

[code]

Since this matches IE 11 among other older browsers, I would expect template literals to be transpiled into legacy ES5 concat statements but they are still present in the pack output.

Actual behavior:

swc does not seem t

[2022-03-31 09:41] tomdracz commented on #92
@jameshibbard I think I figured it out! It's because you trying to edit root directly so the hot update bails out. For more info, see issue here and the comment https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/177#issuecomment-718271457

See the repo here for the implementation https://github.com/tomdracz/test-hmr-app/commits/main

- First commit is your repro steps
- Second commit is

[2022-03-31 09:50] jameshibbard commented on #92
Awesome! Thank you. That works now.

Would you like me to send a PR updating the [React config](https://github.com/shakacode/shakapacker/blob/master/docs/customizing_babel_config.md) with more explicit steps?

[2022-03-31 14:47] tomdracz commented on #92
@jameshibbard If you can get some updated docs going, it would be awesome! Might not all fit at https://github.com/shakacode/shakapacker/blob/master/docs/customizing_babel_config.md but we can find a good place for this to go when we have a copy!

[2022-03-31 14:50] jameshibbard commented on #92
Sure thing. I'll see what I can do.

[2022-04-01 12:45] tomdracz commented on #39
Just opened https://github.com/shakacode/shakapacker/pull/94 with another stab at improving this. Opinions much welcome!

[2022-04-02 15:37] tomdracz commented on #88
Thanks for reporting. Not entirely sure I would agree with this being unreasonable default in development. For me, it does make sense to skip expensive operations in environment where you'll see frequent changes and recompiles.

This being a change to the behaviour from webpacker is unfortunate and I wouldn't be surprised if it wasn't documented properly. The whole road from webpacker to shakapack

[2022-04-02 16:24] tomdracz commented on #93
Hey @woodhull any news here? This is definitely expected to work and it should, as you've probably gathered from small repro.

Outside of the test, is it wholesale not working or does it only seem to transpile few bits?

[2022-04-03 10:41] tomdracz commented on #88
@AlecRust @bgwilson87 What browsers are you seeing this in? Just tried to replicate and cannot quite get the issue you're seeing.

Headers from my dev server response below:
![Screenshot 2022-04-03 at 11 35 34](https://user-images.githubusercontent.com/6048970/161423488-e6095314-6df5-44b7-9e4a-bff41b473d06.png)

Notice that:
- No cache control header
- No last-modified header
- Etag header is pres

[2022-04-03 10:50] tomdracz commented on #87
Hey @jherdman Thanks for reporting. I don't know much about vue - what's the difference between `.vue.html` extension vs `.html.vue`?

Agree that we need better docs around this, at the moment we mostly got a small paragraph at the end of https://github.com/shakacode/shakapacker#webpack-configuration that touches on this but some better examples would probably be great. I'll try and get this going

[2022-04-03 15:40] jherdman commented on #87
Unsure! I'm not a Vue expert either. The vue-loader added support for `*.vue.html` here https://github.com/vuejs/vue-loader/issues/1238.

To me the root issue is that there are a number of rules defined in Shakapacker that are challenging to override (or maybe it's just not clear what the sanctioned way to do this is as a Webpack newb). I think (???) vue-loader is doing the right thing, but maybe

[2022-04-03 17:53] jameshibbard commented on #92
Hi,

As promised I wrote up some basic instructions. Please feel free to take as much, or as little from this as you want (e.g. not sure how much value the basic demo provides).

I wrote this thinking that maybe one could link to it from here https://github.com/shakacode/shakapacker#react ?

Thanks again for the help with my original issue.

---

## Basic Setup

These steps describe how to create

[2022-04-04 08:31] justin808 commented on #88
I added this. It was based on https://webpack.js.org/guides/build-performance/#avoid-production-specific-tooling.

Rails "sprockets" also works like this.

Maybe there's some interaction with using bundle splitting that doesn't work well?

**However, @tomdracz, that's a very nice explanation of how this setting is more efficient for development.**

[2022-04-04 08:53] justin808 commented on #87
@jherdman once you get the default configuration, you're free to change it.

See if this example helps:

https://github.com/shakacode/react_on_rails_demo_ssr_hmr/blob/master/config/webpack/commonWebpackConfig.js#L3

Take a look at the base config and see how it gets updated.

[2022-04-04 09:02] tomdracz commented on #80
I'll take a stab at the docs with the examples of customisation. Will also document what are the default rules.

Seems like great thing to do, if possible. Being able to reference rules based on some name rather than trying to find it by the rule test should simplify this a bit.

@justin808 In https://github.com/shakacode/shakapacker/issues/87#issuecomment-1087286257 you've mentioned an idea of `w

[2022-04-04 15:11] tomdracz commented on #88
Thanks for the update @bgwilson87 Good detective work! I'm struggling to replicate this behaviour locally. If you could try enabling caching again and attaching the response headers from the asset requests, that would be great! Locally, I still get no `Cache-Control` on the asset so would be good to see behaviour on yours.

[2022-04-04 15:15] krystof-k opened #95 "Setting different URL for pack tags"
I'm migrating from Webpacker 5 to Shakapacker and option `development.dev_server.public: localhost:3035` in `config/webpacker.yaml` is no longer working.

Since we use separate Docker container to run webpacker-dev-server, I need the pack tags URLs to contain the different port.

I also tried setting `dev_server.devMiddleware.publicPath` but that doesn't have any effect either.

According to the g

[2022-04-04 15:21] AlecRust opened #96 "Assets not built for tests in CI"
When `compile` in Test environment is set to `true`, Shakapacker automatically builds to `/public/packs-test`.

`webpacker.yml`
[code]

However in CI e.g. CircleCI this does not happen, tests run without automatically building the assets.

- Is it correct that Shakapacker does not automatically build in this CI environment, where `RAILS_ENV` etc. is set to `test`? This was slightly unexpected when

[2022-04-04 15:36] tomdracz commented on #96
@AlecRust What's the behaviour you are expecting here?

- `compile: true` automatically precompiles ALL of the assets?
- `compile: true` compiles asset on demand when you are trying to reference them?

The behaviour we have is the latter - https://github.com/shakacode/shakapacker/blob/master/lib/webpacker/manifest.rb#L22 essentially if `compile` is set to `true` and dev server is not running, ever

[2022-04-04 15:46] bgwilson87 commented on #88
Here's what I get when caching is enabled:
<img width="338" alt="Screen Shot 2022-04-04 at 11 32 30 AM" src="https://user-images.githubusercontent.com/2334297/161580636-365845a6-1c64-4115-98e6-d75de40d9f1c.png">

[2022-04-04 15:48] AlecRust commented on #96
Thanks for your detailed reply @tomdracz.

I guess I would expect in CI (where `RAILS_ENV=test` is set etc.) either of those two to happen, but neither is happening for us in CI environment in my testing..

The former sounds like it would provide performance most appropriate for CI, though the latter is more consistent with behaviour in Development.

We have up until now been calling `Webpacker.co

[2022-04-04 15:56] tomdracz commented on #95
@krystof-k If you're migrating from `dev_server.public` option you might need to use `dev_server.client` instead as that changed in the webpack setup. It does sound like it's not quite that. I'm thoroughly confused by the publicPath vs client config in webpack.

If you are looking to set the public path, it does seem like `WEBPACKER_ASSET_HOST` is the only way to set it up at the moment. Agree tha

[2022-04-04 16:00] tomdracz commented on #96
This is not what I would expect. I'll play around with our CI and see what I'll get and whether I spot any problems.

Might be one to clear up in docs to specify that the options is meant to provide on the fly compilation rather than precompilation hooking up to anything else!

[2022-04-04 17:46] bgwilson87 commented on #88
@tomdracz that all sounds right, I am not using webpack dev server.

And if I run `rails webpacker:clobber` to remove the compiled output, and then use webpack dev server, with tmp/caching-dev.txt, I see the same functionality as you (no Cache-Control header)

[2022-04-04 19:46] krystof-k commented on #95
I'm using the default for `dev_server.client` and seems to be working all right (however I've not yet tried setting up HMR). This issue was meant to be mainly about setting the URL for pack tags.

Just not sure about the piece of code I linked above, maybe it should just respect the Webpack config.

[2022-04-05 17:24] AlecRust commented on #96
Thanks again @tomdracz. Not sure why the automatic compilation isn't working for us, but sounds like manual compilation is better anyway.

I guess we can close this issue, but a couple more points that may be of interest:

- I note that `NODE_ENV=test` needs to be set in CI when compiling manually, this wasn't necessary when we called `Webpacker.compile` in the test helpers which is slightly odd.

[2022-04-05 17:56] tomdracz commented on #96
Hey @AlecRust looking at our CirlceCI output I see no precompilation happening again.

<img width="1150" alt="Screenshot 2022-04-05 at 18 27 44" src="https://user-images.githubusercontent.com/6048970/161815056-3f96deaf-a0ff-477a-9037-313510d4b405.png">

I THINK your problem might be due to one thing - cache path. This is set in `webpacker.yml` - ours is `tmp/cache/webpacker` but the default is act

[2022-04-06 09:13] justin808 commented on #92
@tomdracz @Judahmeek we should get this into the docs directory.

[2022-04-07 18:49] AlecRust commented on #96
Aha thank you, should have spotted this! Working as expected now.

Some system tests that rely on JS fail, which I guess leads me to believe this is depended on somewhere for appropriate compilation.

Our system tests detect console warnings. I've seen this new warning in Development since migrating from Webpacker to Shakapacker, and it's also happening in CI test runs without `NODE_ENV=test`:

[c

[2022-04-07 19:53] tomdracz commented on #96
Thanks @AlecRust will close this issue now.

The preload behaviour is weird, if you not using preload directly it might be some form of https://github.com/rails/rails/pull/40092 possibly?

Not sure, but cannot see anything in Shakapacker that would sneakily add some preload!

[2022-04-07 19:53] #96 closed

[2022-04-09 09:14] tomdracz commented on #93
Closing due to inactivity. Feel free to reopen if you can get repro case going!

[2022-04-09 09:14] #93 closed

[2022-04-11 20:42] justin808 opened #100 "Obscure errors when peer dependency warnings are not respected"
We had obscure errors in the browser:

`Failed to load resource: net::ERR_CONTENT_DECODING_FAILED`

This was caused by a very old version of the peer dependency `webpack-compression-plugin`.

We could have prevented this by checking for unmet peer dependency warnings when running yarn.

How can we make the use of **peer dependencies** less hazardous?

I added a note to the Troubleshooting and Upgr

[2022-04-14 10:58] tomdracz commented on #100
Might be worth adding a rake task to check peer dependencies and then hook it up to https://github.com/shakacode/shakapacker/blob/master/lib/tasks/webpacker/verify_install.rake#L3 so it runs together with other checks? @justin808

[2022-04-16 08:55] justin808 opened #103 "P78 Configurable manifest path broke API"
See test run: https://github.com/shakacode/react_on_rails/runs/6036261442?check_suite_focus=true

https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/webpacker_utils.rb#L53-L55

refers to
[code]

We need to put back the method (maybe with a warning that it's deprecated and remove it for version 7?)

[code]

[2022-04-16 09:08] #103 closed

[2022-04-18 08:45] jameshibbard commented on #92
It is now no longer necessary to install the react-refresh-webpack-plugin directly from GitHub, as they have published a new version (0.5.5) which plays nicely with the latest version of React.

Would you like me to make a PR with the above instructions (updated to include the new version of react-refresh-webpack-plugin)? I'd create a new file under `shakapacker/docs/react.md`.

[2022-04-18 08:48] justin808 commented on #92
@jameshibbard  YES! that would be fabulous!

If you can submit a PR for updating https://github.com/shakacode/react_on_rails_demo_ssr_hmr, that would be great!

[2022-04-18 08:59] justin808 commented on #39
@robotfelix can you give a more specific use case?

[2022-04-18 09:01] justin808 commented on #87
@tomdracz @Judahmeek, we really need this explicit opt-in or opt-out vs. just the "magic" way that's now done.

[2022-04-18 09:03] justin808 commented on #80
@jherdman @dleavitt if any of you can get a PR submitted, I promise that my team will review it ASAP and we'll ship a release ASAP as well.

[2022-04-18 18:07] dleavitt commented on #80
Thanks @justin808! Not sure if I'll get around to it this week but definitely something I'd be happy to help with or review.

[2022-04-19 08:20] tomdracz commented on #87
@justin808 Not sure about the best way forward here:

We could extend/amend `moduleExist`/`canProcess` helpers to take some additional config from `webpacker.yml`. This would allow for 'opt-out' but I don't think it solves the underlying problem.

Issue is - using `webpack-merge` for overrides is not trivial. It's all well and good for adding things but it doesn't work too well for modifying and r

[2022-04-20 11:38] Eusebius1920 commented on #87
I had similar problems before with webpacker / shakapacker.

**Example.** I wanted to eject typescript definition files from rails-erb-loader, which is preconfigured in shakapacker. (So that VSCode can read them in and provide autosuggestions and typesafety for `.ts.erb` files - it is just so comfortable to have that!)

I solved it using a webpack plugin that can inject arbitrary loaders in existi

[2022-04-20 14:04] tomdracz commented on #87
Hey @Eusebius1920 is that plugin something you wrote yourself or open source? Would be great to see that as might be good thing to explore

[2022-04-21 16:14] MrLeebo opened #106 "Default babel preset for shakapacker produces incorrect behavior by running in "loose" mode"
Hi Shakapacker,

The default [babel preset](https://github.com/shakacode/shakapacker/blob/master/package/babel/preset.js#L28) includes a non-default option, "loose" mode, which changes the behavior of some javascript statements so that they defer from their native behaviors.

This can be really surprising, because the code in your bundle is doing something different from what you see when you run

[2022-04-21 20:20] tomdracz commented on #106
Thanks for reporting, this is certainly unexpected!

I think it makes sense to drop the loose setting. Easy enough to add through custom config if someone wants it. Will open up a PR

[2022-04-22 09:04] justin808 commented on #106
@tomdracz @MrLeebo super. Let's ship this asap. Just tell me when you're ready and I'll release.

[2022-04-22 13:48] MrLeebo commented on #106
Do you know why loose mode was originally enabled? Babel assumptions give you more specific control over "loose" logic, so if we knew why it was originally turned on, it might make sense to add an assumption to cover that use case.

[2022-04-22 14:16] tomdracz commented on #106
Added here a while back https://github.com/rails/webpacker/pull/2623

Don't see much rationale apart from less lines of code generated 🤷 The examples given definitely didn't seem to cover the cases that break here with iterables.

It's a dangerous default either way, especially for something where we don't really control the code being generated. It might be a breaking change though and we should

[2022-04-22 15:28] #106 closed

[2022-04-23 09:19] justin808 commented on #88
@tomdracz the problem seems related to shakapacker assuming that development means the headers don't use caching.

I'm frankly surprised that turning on caching for the Rails server also turns on caching for the browsers.

If it does, then maybe webpacker could pick that up and adjust the config?

How about if we check that if `tmp/caching-dev.txt` exists, then we keep the hashes in development?

[2022-04-24 19:13] tomdracz commented on #88
I'd honestly avoid anything here. We could start picking up the rails config value but that feels bit too magical and us veering towards doing too much again.

[2022-04-25 09:24] Eusebius1920 commented on #87
I just keep it in `/config/webpack/plugins` inside the rails application.

`/config/webpack/plugins/chain-loader-injection.js`:

[code]

Usage would then be something like inside `/config/webpack/webpack.config.js`:

[code]

This could be a starting point for customization of shakapacker's predefined chains. Although I am not 100% sure if this is a good idea.

- It might lead back to webpacker v5

[2022-04-25 12:59] jameshibbard commented on #92
Here ya go: https://github.com/shakacode/shakapacker/pull/110

I'm afraid I'm not familiar with react_on_rails and it seems to have a lot of moving parts, so I'm probably not the best person to update that.

[2022-05-10 16:21] daniel-rikowski opened #114 "Wrong CSS url with assets in subdirectories on Windows"
Ruby version: 3.1
Rails version: 7.0
Webpacker version: 6.2.1

Expected behavior: CSS urls must not contain backslashes as path delimiters when using assets from subdirectories.

Actual behavior: If for example a CSS font url is used on Windows, the final asset url contains a mixture of forward and backward slashes. Backslashes are escape characters in CSS, resulting in invalid CSS and subsequent

[2022-05-10 16:29] tomdracz commented on #114
Hey @daniel-rikowski Thanks for reporting, if you can open up a PR, it would be great!

[2022-05-17 07:37] josemigallas commented on #39
Hi, we're upgrading our rails app with webpacker to shakapacker and things look good so far. We're using the `ReactHelper` to append javascript packs from different partials and even though all packs are present in `:view_pack_tags`, one of them isn't added to the HTML. If I move the `append_javascript_pack` around (to other partials and views) it eventually gets added to the page and executed. An

[2022-05-17 08:12] justin808 commented on #39
@josemigallas I suspect the partial you're having trouble with is on the main layout. The new helper won't work on the layout as it needs to be processed before the layout renders.

[2022-05-17 08:19] josemigallas commented on #39
@justin808 Is this new helper documented somewhere?

[2022-05-17 09:03] tomdracz commented on #39
@josemigallas https://github.com/shakacode/shakapacker#view-helpers info on usage here. Do note that this is only available in v6.3.0 which is still in RC stage. Hopefully we'll be shipping final 6.3.0 soon

[2022-05-18 08:06] josemigallas commented on #39
Just for the record, I put the `javascript_pag_tag` at the end of every layout and call `append_javascript_pack_tag` from anywhere in my partials and it works like a charm. Thank you!

[2022-05-19 09:48] #114 closed

[2022-05-19 10:44] tagliala opened #118 "Add compatibility with compression-webpack-plugin 10.0.0"
Hi,

I don't know if this can make for 6.3.0, but [compression-webpack-plugin](https://github.com/webpack-contrib/compression-webpack-plugin) 10.0 has just been released and now there is a warning if you try to use it

[code]

[2022-05-19 10:45] tagliala commented on #118
Will be fixed by #117

[2022-05-19 18:02] sschafercdd opened #119 "append_javascript_pack_tag inserts (debugging?) text into the DOM"
A bug is a crash or incorrect behavior. If you have a debugging or troubleshooting question, please open a discussion on [Discussions Tab](https://github.com/shakacode/shakapacker/discussions).

Ruby version: 2.7.6
Rails version: (6.1.6)
Webpacker version: 6.3.0-rc.1

Expected behavior:

In app/views/layouts/hello_world.html.erb, we have:
    <%= append_javascript_pack_tag 'application' %>
    <%=

[2022-05-19 22:39] tomdracz commented on #119
@sschafercdd as per readme, correct usage of helper is using `<% %>` rather than `‹%= %›`

In ERB former just executes the statement and the latter prints out the result.

[2022-05-20 17:08] justin808 opened #122 "V7 Items"
## Breaking Changes Requiring a Major Version Bump
1. Change references from `webpacker` to `shakapacker` #157
1. Change the configuration so that the configuration runs with a function invocation of a passed configuration object rather than using globals.

## Other Suggestions (not required for v7)
1. Change to use rspec for new tests rather than minitest
1. Support a dummy test app for better te

[2022-05-22 22:13] jasonfb opened #123 "Rails 7.0.3 - Webpacker configuration file not found when running `rails webpacker:install` (shakapacker v6.3)"
Ruby version: 3.1.2
Rails version: 7.0.3
Shakapacker version: 6.3.0

Steps to reproduce:
`rails new HelloShakapaker1 --skip-javascript --database=postgresql`
`bundle add shakapacker --strict`
`rails webpacker:install`

for some reason I seem to have something missed here, this task tells me `No such file or directory config/webpacker.yml` but as far as I understand this command should create this

[2022-05-23 09:54] Stex commented on #123
A workaround that worked until this is fixed:

* install the last version (6.2.1)
* run `bin/rails webpacker:install`
* upgrade to `6.3`
* run `bin/rails webpacker:install` again and override the files

[2022-05-23 10:35] tomdracz commented on #123
Thanks for reporting.  Another workaround is get the file at https://github.com/shakacode/shakapacker/blob/master/lib/install/config/webpacker.yml and copy over to `config/webpacker.yml` before running the install task.

I think this got introduced by https://github.com/shakacode/shakapacker/pull/102/files CC @Judahmeek @justin808

We're referencing `Webpacker.config` in few tasks after the PR abo

[2022-05-24 15:57] tomdracz commented on #119
Happy to accept a PR that just returns nil from the helper so it doesn't matter whether you use <%= or <%

[2022-05-24 16:17] tomdracz opened #125 "Don't enhance precompile with yarn install"
Running `yarn:install` during `asset:precompile` might be bit too magical. In the same way as we don't run `bundle install`, we shouldn't run `yarn install`.

`yarn:install` being ran adds some time to the compile. On Heroku also, by default it will reinstall all packages even if they have been previously cached. Not good.

Prepping of Shakapacker 7 might be good time to get rid of this behaviour:

[2022-05-24 16:17] tomdracz commented on #125
@justin808 seems reasonable to you?

[2022-05-24 16:18] tomdracz commented on #122
Hey @jherdman Glad you are interested in helping out! Please have a look at issues with [help wanted](https://github.com/shakacode/shakapacker/labels/help%20wanted) tag - latest 3 there should be fairly small-ish to tackle!

[2022-05-24 17:29] AlecRust opened #126 "Allow setting webpack mode to "development" in tests"
Ruby version: 3.1.2
Rails version: 7.0.3
Shakapacker version: 6.2.1

JS `debugger` statements are useful, including when debugging system tests. But in test environment Shakapacker sets webpack to `mode: 'production'` which strips `debugger` statements.

Have you considered providing an option in `webpacker.yml` to set mode to development in `test` environment, to avoid a custom webpack config ove

[2022-05-24 17:54] jherdman commented on #125
Can I take this on if it's deemed as reasonable?

[2022-05-25 04:57] erosinlove opened #127 "SyntaxError: Invalid regular expression"
I added a new component file in my project at `app/javascript/components/xxx.js` after compiling the project with `rbenv exec bundle exec rake assets:clean assets:precompile` command I got the error as below

[code]
After checked and verified I found that the error is coming from `import Dante from "Dante2"` that containing in component file
[code]
Can anyone advise how can I fix this?

Ruby versi

[2022-05-25 08:43] tomdracz commented on #125
@jherdman All yours!

[2022-05-25 09:03] tomdracz commented on #126
Thanks for raising @AlecRust My take on this is trying to get test environment in the closest state to the production one, hence applying same optimisations. I do see your point around debugging though.

Adding webpack override should be fairly simple although it could use a recipe in the readme maybe to show people how to do it.

I think in general our aim for v7 will be streamlining the config t

[2022-05-25 09:05] erosinlove commented on #127
Hi @tomdracz sorry, how can I provide a minimal reproduction repo, just add you to my project or how can I do that?

[2022-05-25 09:24] erosinlove commented on #127
This is the code, the error is coming from `Dante2`
[code]

[2022-05-25 09:25] tomdracz opened #128 "Run bundle install automatically after releasing a new. gem version"
As it stands, running release task https://github.com/shakacode/shakapacker/blob/master/rakelib/release.rake doesn't do anything to update local `Gemfile.lock` file with new version.

Missing `Gemfile.lock` update means that the tests fail (as we're running `bundle install` with deployment flag https://github.com/shakacode/shakapacker/runs/6512746968?check_suite_focus=true) and we need to run `bun

[2022-05-25 09:33] tomdracz commented on #127
Hey @erosinlove I've found this comment from you before https://github.com/rails/webpacker/issues/3236#issuecomment-1059946934

Are you still running `require.context( "components", true, /^(https?:\/\/)?((([a-z\d]([a-z\d-]*[a-z\d])*)\.)+[a-z]{2,}|((\d{1,3}\.){3}\d{1,3}))(:\d+)?(\/[-a-z\d%_.~+]*)*(?:[&a-z\d%_.~+=-]*)?(#[-a-z\d_]*)?$/ );` somewhere in your app?

Original ticket was asking about req

[2022-05-25 09:51] erosinlove commented on #127
When I remove the component files that contain `import Dante from "Dante2";` I can compile without any error

[2022-05-25 10:42] tomdracz commented on #127
Hey @erosinlove

Looks like this is coming from Dante indeed at https://github.com/michelson/dante2/blob/master/src/editor/components/decorators/link.js#L10-L26

Specifically https://github.com/michelson/dante2/blob/master/src/editor/components/decorators/link.js#L17 somewhere. I think the line needs to start with `'(\\?` rather than `'(\?` - I'm not a Regexp expert but I think this causes ? to be

[2022-05-25 10:42] #127 closed

[2022-05-26 08:10] #125 closed

[2022-05-26 08:11] tomdracz commented on #118
Closed by https://github.com/shakacode/shakapacker/pull/117 Will be released in the next version

[2022-05-26 08:11] #118 closed

[2022-05-27 11:24] jasonfb commented on #123
rails new HelloShakapaker1 --skip-javascript --database=postgresql

bundle add shakapacker --strict

fix shakapacker version to

`gem "shakapacker", "= 6.2.1"`

then run
`bin/rails webpacker:install`

then update shakapacker back to 6.3 in Gemfile

[2022-05-27 13:20] tomdracz commented on #123
@jasonfb Reopening to keep track of this. Glad we have workarounds but it needs to be properly fixed!

[2022-05-27 13:52] jherdman commented on #122
I'm tackling this today.

[2022-05-27 14:03] jherdman commented on #122
OK, so `webpacker` ➡️ `shakapacker` is pretty impactful. Are there PRs in flight that ought to land first?

[2022-05-27 14:42] tomdracz commented on #122
Nothing in flight so far, although I think we will need to cut 6-x branch some point soon and just work on back porting any fixes to that where relevant while we keep v7 dev to the master branch.

@justin808 How do you want to play this?

[2022-05-27 19:45] difernandez commented on #123
Posting this in case it's relevant: ran into this issue just now and I found [this similar issue on the webpacker repo](https://github.com/rails/webpacker/pull/3223), with a PR in the end that appears to have fixed it

[2022-05-28 18:02] jasonfb opened #133 "What should I do about `Module not found: Error: Can't resolve '@hotwired/stimulus-loading'`"
I realize it is mixing separate paradigms but I have some sections of my app using Stimulus and want to mix Rails 7 stimulus defaults with react_on_rails

my application.js file is like so:

[code]

In addition to the standard install instructions, I had to add  `@hotwired/turbo-rails`, `@hotwired/stimulus`, and `styled-components` using yarn

However, i seem to be stuck on this one:
when I run `b

[2022-05-29 10:01] tomdracz commented on #133
Hey @jasonfb

Your problem is in the `import "controllers"` line. It loads https://github.com/jasonfb/HelloShakapakerRails7C/blob/main/app/javascript/controllers/index.js and it does some magic with import maps. Not sure how this all works, not using import maps. I've got an app that does what you're trying to do though!

Have a look at annotated PR here https://github.com/jasonfb/HelloShakapakerR

[2022-05-29 10:27] tomdracz commented on #133
As a side note, not using import maps is a perfectly viable solution. I would advise against mixing and matching the two. You'll be likely in world of pain trying to get them to play nicely 😂

If you're set on Shakapacker - use it as your bundler and pull in your bundles using `_pack_tag` helpers. Probably work removing the rails importmap stuff also - config, view helpers etc

[2022-05-30 14:30] robotfelix commented on #106
@tomdracz @MrLeebo have a pat on the back from me for fixing this one 👏

After much head-scratching over a bug that only seemed to raise itself in cucumber tests when run in CI, this issue turned out to be the gremlin that was stopping me from migrating an application from webpacker to shakapacker! 🎉

[2022-06-03 01:02] #123 closed

[2022-06-03 08:50] tagliala commented on #125
Hi,

I would have expected a change like this landing in v7

Would it be a better assumption that Shakapacker uses versioning approach à-la Rails, with potential breaking changes between minor releases?

[2022-06-03 09:08] justin808 commented on #125
@tagliala, no, we intend to use Semantic Versioning.

Did this break your build?  We'll release a v7 fairly soon, over the next couple of months, mainly renaming files to Shakapacker.

[2022-06-03 09:17] artemave commented on #126
Somewhat relevant: if dev server is running, then webpacker skips compilation and so you get both `mode: development` and source maps in tests. As well as faster test startup.

This wasn't obvious to me until I started reading source code. Perhaps it would be worth mentioning this in the docs.

[2022-06-03 09:30] justin808 commented on #126
Whether or not this should be in the webpacker.yml would depend on whether or not we can say that the webpack mode should correspond to the RAILS_ENV.

Historically, the NODE_ENV was used to set a particular webpacker configuration file. We removed that in v6.

@artemave if you can submit a doc PR, we'll review it very quickly.

[2022-06-03 14:23] Windh0wl opened #137 "Can't execute Rails Code in js.erb files"
I am trying to get js.erb files to work with shakapacker. But so far i had no luck. As far as i know there is no installer for erb (bundle exec webpacker:install:erb) anymore like in previous webpacker versions, so this should be supported out of the box, am i correct?
what could i be doing wrong here?

Currently i have the stock webpack.config.js

[code]
This is my output:
[code]

Ruby version: 2

[2022-06-03 15:02] tagliala commented on #125
Hi @justin808, thanks for your response

Depends on the build. On Heroku it is fine and it is also desirable because of the reason in the opening post

However, I'm also using Capistrano, and the deploy recipe was counting on `assets:precompile` to run yarn install

So when I try to deploy with 6.4 I get:
[code]

I know that it makes much more sense to have `yarn install` together with `bundle ins

[2022-06-03 19:45] tomdracz commented on #137
Have you got https://www.npmjs.com/package/rails-erb-loader package installed? This is needed to process erb files but don't think it's included by default.

If the package is installed and you're still facing issues, please provide a reproduction repo so we can take a closer look

[2022-06-03 19:58] tomdracz commented on #125
@justin808 might consider restoring this with deprecation notice. Definitely didn't plan for this to go out before v7 so we jumped the gun here

[2022-06-03 22:14] justin808 commented on #137
Labelling as question until we determine if really a bug.

[2022-06-04 03:02] justin808 commented on #125
I'm ok with that.

If you get master ready, I'll release.

[2022-06-04 12:40] Windh0wl commented on #137
I have created a blank project and everything worked fine. I'm providing you the repo i'm currently working on directly: https://github.com/muehling/CoMapEd/tree/Update_rails

In app/views/concept_maps/edit.html.erb i want to load the test.js.erb

When you start the server  you should be able to get to the edit view by typing in 'abc' if you previously seeded the postgres db.

I hope you can get t

[2022-06-05 08:18] tomdracz commented on #137
Hey @Windh0wl

I think I've got this working. Looks like spring gem is causing the issue here https://github.com/usabilityhub/rails-erb-loader/issues/63

To try and get this working do the following:
- Run `bundle exec rails webpacker:clobber` to remove all compiled assets
- Run `bin/spring binstub --remove --all`
- `bundle remove spring && bundle install`

After this, start the server again and i

[2022-06-05 08:21] tomdracz commented on #137
@justin808 Separately might need to implement https://github.com/usabilityhub/rails-erb-loader#spring (i.e. adding `DISABLE_SPRING` env to the loader config to guard against this in the future

[2022-06-05 10:11] #137 closed

[2022-06-06 08:16] Windh0wl commented on #137
Nice. I get it to work now with a two liner .js.erb but not yet with my /app/views/concept_maps/edit.html.erb ..
I get the same error still.

Is there some js syntax i may not use with .erb ?

[2022-06-06 08:51] justin808 commented on #123
Shipped!

[2022-06-06 09:22] justin808 commented on #122
We can make master v7 once we have the first PR that's definitely v7 only.

@jherdman Thanks for the help!!!

[2022-06-06 09:23] justin808 commented on #122
@tomdracz I added back PR #131 to the list in the issue description.

[2022-06-06 09:24] justin808 commented on #128
@tomdracz any chance that you can throw in a PR for this?

[2022-06-06 13:34] tomdracz commented on #137
@Windh0wl Hard to say, have you got comments in the file? Those are one of the things that might cause issues here

Ruby comments are prefixed with the hash, whereas JS ones are `//` which I think trips up the parser.

Essentially, what the `rails-erb-loader` is doing is following (from https://github.com/usabilityhub/rails-erb-loader/issues/63#issuecomment-707940303)

[code]

- `myfile` is the in

[2022-06-07 09:23] #128 closed

[2022-06-07 10:50] Windh0wl commented on #137
awesome. that helped a ton. i can run simple ruby code now. would you happen to know how i can run `<%= t('.action_new_node')%>` to insert locales ? i already included `/* rails-erb-loader-dependencies ../config/locales/ */` in my .js.erb file but i keep getting the error `<main>': undefined method 't' for main:Object (NoMethodError)` when i run your suggested commands

[2022-06-07 13:34] manastyretskyi opened #143 "Poor CHANGELOG quality"
I was recently updating dependencies in one of my projects and ran into a couple of problems with `shakapacker`, mostly because of introduction of breaking changes without explicit notice. For example, in [v6.3.0-rc.1](https://github.com/shakacode/shakapacker/blob/master/CHANGELOG.md#v630-rc1---april-24-2022) `webpacker_precompile` setting was added, right now it says that this is similar to `ENV[

[2022-06-07 18:50] tomdracz commented on #143
Hey @manastyretskyi

Thanks for raising. The defaults sure indeed set. We load the file from https://github.com/shakacode/shakapacker/blob/master/lib/install/config/webpacker.yml snd any configuration not found in your project webpacker.yml file will fallback onto the settings there.

We didn't mark any of the things you've mentioned as the breaking changes, as the defaults provided should ensure

[2022-06-08 09:57] tomdracz commented on #143
Aha, I see it now. Thanks for bringing attention to that. The ideal behaviour would definitely be fallback on default config regardless of environment setup.

I'll get this on my agenda and try to get this work better in the next release. Thanks @manastyretskyi

[2022-06-08 13:21] tomdracz commented on #137
I think that's because scoping the key by partial is the Railsy helper thing rather than `I18n.t` one:

https://github.com/rails/rails/blob/main/actionview/lib/action_view/helpers/translation_helper.rb#L128-L140

You should be able to use just `t()` in your normal views just fine. It's only the `js.erb` files that might need `I18n.t` and full translation path in order to work if you are trying to

[2022-06-12 16:15] jasonfb opened #145 "work with jsbundling? **WIP**"
A bug is a crash or incorrect behavior. If you have a debugging or troubleshooting question, please open a discussion on [Discussions Tab](https://github.com/shakacode/shakapacker/discussions).

Ruby version: **3.1.2**
Rails version: 7.0.3
Webpacker version: 6.4.1

So in my last attempt (https://github.com/jasonfb/HelloShakapakerRails7C) I mistakenly started with an importmap-rails app. In this at

[2022-06-12 16:20] #145 closed

[2022-06-18 07:33] oleksiivykhor opened #147 "export XXX was not found in 'xxx' (module has no exports)"
After upgrading from webpacker 5.x to shakapacker 6.3.0 I'm getting such an error. It happens for single package only, all other components/node_modules resolved/compiled correctly. Before the upgrade the same node module used to be working properly.

Previous versions:
ruby: 2.5.5
node: 14.x
webpacker: 5.4.3
webpack: 4.44.2

Current versions:
ruby: 2.7.6
node: 16.x
shakapacker: 6.3.0
webpack: 5.7

[2022-06-19 06:53] tomdracz commented on #147
Need more info here. Was the package in question updated also? What is the problematic module? Are you able to provide reproduction case?

From the first glance, it seems like the issue might be in the package and CommmonJS/ESM setup there rather then anything in shakapa but hard to say more without having more details.

[2022-06-19 06:58] oleksiivykhor commented on #147
No, the module wasn't updated.

Below are my webpacker.yml and webpack.config.js

[code]

[code]

Sorry, I can't provide reproduction repo (at the moment at least)

[2022-06-24 02:28] justin808 commented on #122
I'm very interested in getting a v7 with the global renaming of webpacker to shakapacker one.

Too many docs are too confusing with the dual names.

[2022-06-24 02:30] jherdman commented on #122
Justin: if you're interested you can take this off of my plate, I've been a derailed at work.

[2022-06-24 06:22] justin808 commented on #147
@oleksiivykhor feel free to reopen if you can provide a simple reproduction repo.

[2022-06-24 06:22] #147 closed

[2022-06-26 23:03] jasonfb opened #149 "running the react_on_rails or shakapacker install along with build:css (cssbuilding) under Rails 7"
Ruby version: 3.1.2
Rails version: 7.0.3
Webpacker version: n/a

steps to reproduce:

`rails new HelloShakapackerRails7H --skip-javascript --css=bootstrap --database=postgresql`
• generate welcome controller & add bootstrap layout
• start server with `./bin/dev`, confirm that bootstrap CSS is working but [with non-working JS](https://github.com/jasonfb/HelloShakapackerRails7H/commit/0b3dbd600c13b7

[2022-06-26 23:14] jasonfb commented on #149
ok so now I've restored the Rails 7- style `Procfile.dev` and added the shakapacker gem here:
https://github.com/jasonfb/HelloShakapackerRails7H/commit/0255e5f18f9a3796a4b87fd0d8687157af8e77b7

Then `[bundle add shakapacker --strict](https://github.com/jasonfb/HelloShakapackerRails7H/commit/53c0ed120315719ff27e57d7e415a2f0b9d38288)`

Then [rails webpacker:install](https://github.com/jasonfb/HelloS

[2022-06-26 23:18] jasonfb commented on #149
Next go about [putting the build:css back into package.json](https://github.com/jasonfb/HelloShakapackerRails7H/commit/7f85295b0a0de37101123fbbfc0bcc2103c5e93c) like this

but now when I run `./bin/dev` I get:

[code]

[2022-06-28 04:45] pickhardt opened #150 "New Rails 7 project errors with undefined method `deep_symbolize_keys'"
I am trying to set up a new Rails 7 app to compile JSX for React. Unfortunately Rails 7 totally changed how things work, so I found this project which looks like it could help. However, I followed the instructions on the readme, but get this

Ruby version: 3.1.0
Rails version: 7.0.1
Webpacker version: shakapacker 6.4

Expected behavior: rails s starts up

Actual behavior: errors
"/Users/me/.rbenv/

[2022-06-29 01:17] justin808 commented on #150
@tomdracz @mage1711 @alexeyr Any ideas?

[2022-06-29 16:12] robotfelix opened #151 "assets:clean / webpacker:clean task deletes the latest version of files when asset_host is set"
Ruby version: 2.7.6
Rails version: 6.1.6
Webpacker version: 6.4.1

### Expected behavior:

As documented by [a comment in the implementation file itself](https://github.com/shakacode/shakapacker/blob/3ba9970e2d3addb7aae980d97c6ab4527f8e55f8/lib/webpacker/commands.rb#L8-L9), running the `webpacker:clean` task (or the enhanced `assets:clean` task) should _**always**_ keep the latest version of compi

[2022-06-29 16:20] alexeyr-ci1 commented on #150
I'll try to reproduce and fix this tomorrow. Though
1. why shakapacker 6.4.0 and not 6.4.1?
2. did you add any other gems?

[2022-06-30 01:51] pickhardt commented on #150
Never mind, it seems like the installation didn't work. I tried again today and figured it out.

I'm still having other problems but at least there's no undefined method deep_symbolize_keys exception now.

[2022-06-30 01:51] #150 closed

[2022-06-30 09:46] tomdracz commented on #151
Thanks for raising. I was surprised by:

But it might have been caused by https://github.com/rails/webpacker/pull/2802

https://github.com/shakacode/shakapacker/blob/master/package/environments/base.js#L66 this line used to pass in path without CDN https://github.com/shakacode/shakapacker/commit/b041a1d3e53c55ad801654892c99f5ec4ff099f2

https://github.com/rails/webpacker/pull/1974 - that might be

[2022-06-30 09:56] robotfelix commented on #151
It's probably not too difficult (famous last words) to update the implementation of `current_version` to trim off any `asset_host` (or `WEBPACKER_ASSET_HOST` if set) from the manifest values, which would fix this issue.

However since the change to `manifest.json` is the source of at least one other troubleshooting issue, it does seem like understanding the rationale behind the change would be use

[2022-06-30 10:08] tomdracz commented on #151
Agree, trimming the host from clean task would be a quick solution, but I do want to trace the changes to figure out what's what. The change linked happened in unreleased Webpacker v6 so I'll just need to trace down the commits and figure out how it worked before, to mimic the same setup!

[2022-06-30 22:23] alexeyr-ci1 opened #154 "Add RDoc comments to functions to improve developer experience"
Related discussion: https://github.com/shakacode/shakapacker/pull/153#discussion_r911478635.

If the generated docs are hosted also hosted on shakacode.com or elsewhere, the links in those warnings will need to be changed.

[2022-07-02 21:59] G-Rath opened #156 "Consider relaxing the version check and making it more consistent"
It's great to see that we've got `ensure_consistent_versioning` but I feel like it's missing the mark a bit and has inconsistent behaviour.

Sample of current output for reference:

[code]

1. it does not enforce the use of an exact version in the Gemfile, but does in `package.json`
2. it's message says "Do not use >= or ~> in your Gemfile for shakapacker.", which imo is silly because you definite

[2022-07-04 15:24] tomdracz commented on #156
Thanks @G-Rath Good thoughts!

We don't look in the Gemfile as we're getting current version from gem itself. Agree that this makes messaging bit confusing. We do try and guide people to exact version in the installation instructions and template scripts (`bundle add shakapacker --strict` suggested and `--exact` option passed in the template installer)

Digesting what you're asking for/suggesting

[2022-07-04 19:03] justin808 commented on #156
Parsing the Gemfile.lock and yarn.lock could be better.

PRs welcome!

[2022-07-04 19:07] justin808 commented on #149
@jasonfb if you're using Shakapacker, you don't need cssbundling-rails (or jsbundling-rails).

[2022-07-04 19:07] #149 closed

[2022-07-04 19:13] G-Rath commented on #156
Yes that is what I think would be the ideal.

🤦 yeah for some reason I thought you had the exact version of the npm package already and that was just silly.

Luckily I've actually created stable lockfile parsers for [`Gemfile.lock`](https://github.com/G-Rath/osv-detector/blob/main/pkg/lockfile/parse-gemfile-lock.go), [`package-lock.json`](https://github.com/G-Rath/osv-detector/blob/main/pkg/lockfi

[2022-07-04 20:13] G-Rath commented on #156
<details>
<summary>here you go</summary>

[code]
</details>

<details>
<summary>output</summary>

[code]
</details>

[2022-07-04 23:11] justin808 commented on #156
@G-Rath Please submit a PR.

[2022-07-04 23:25] G-Rath commented on #156
@justin808 yup will do when I've got the time - just wanted to put that here in the meantime incase anyone else had comments or time to take it further :)

Hopefully I'll have some time for a PR on Friday.

[2022-07-05 00:41] justin808 opened #157 "Rename all references of webpacker to shakapacker"
This is the first item for v7.

- [x] Can we alias the constant Webpacker to Shakapacker? Should we display deprecation warnings?
- [x] Changelog
- [x] Tests and CI configuration
- [x] JS Code
- [x] Ruby Code
- [ ] Examples
- [x] Docs
- [x] Error messages
- [ ] Comments
- [ ] Update key example projects
- [ ] Effect of libraries
  - [ ] [React on Rails](https://github.com/shakacode/react_on_rails)

[2022-07-05 00:53] justin808 commented on #143
This could be something to consider for v7.

[2022-07-05 08:51] alexeyr-ci1 opened #158 "The webpacker compilation lock is global"
https://github.com/shakacode/shakapacker/blob/b86a3508fd1f88444f5ca3f81c96a3e31d2ff823/lib/webpacker/compiler.rb#L22-L24
There is a potential problem here. Our lock file is global (created in `Dir.tmpdir` with a fixed name), so if we have 2 projects using Shakapacker compiling at the same time, then the second will wait for the first to finish and return true without actually compiling :(

1. Shou

[2022-07-05 09:04] tomdracz commented on #156
Nice one @G-Rath ! Looking good on the first glance, will just need to make sure we can support both yarn v1 and berry lockfiles. And yeah, getting support for non-yarn package managers (or well, at least npm), could be useful. Apart from installation and hardcoded usage, there should be no reason (famous last words), why NPM wouldn't work

[2022-07-05 12:28] artemave commented on #158
This. Or maybe base temp file name on current working directory.

Good point. I reckon replacing `true` with `compile` on line 24 should do the trick.

[2022-07-05 18:58] januszm commented on #125
Unfortunately, this change causes problems on Amazon Elastic Beanstalk where `assets:precompile` runs automatically during deployment and yarn install helps a lot here. What's more, deprecation warning is actually an `[ERROR]`, not warning, and this in turn causes Elastic Beanstalk deployment to be terminated. Could you change it to normal log and not error? It is probably the exit code issued at

[2022-07-05 19:35] januszm opened #159 "Confusing upgrade instructions about avoiding public/packs"
The instructions on this page
https://github.com/shakacode/shakapacker/blob/master/docs/v6_upgrade.md#how-to-upgrade-to-webpacker-v600rc6-from-v5

suggest moving js files from packs to `app/javascript` and thus not using packs. This causes js and css files to be precompiled in `public/assets` but at the same time, if I'm not mistaken, it removes the `public/assets/packs` directory (it's not create

[2022-07-05 19:53] justin808 commented on #125
@januszm can you try 6.5.0? I believe the fix https://github.com/shakacode/shakapacker/pull/140 went out in 6.5.

[2022-07-05 19:55] januszm commented on #159
UPDATE: apparently the error itself was caused by broken package.json settings, I had a package in devDepencencies that was actually present somewhere in production code. It was quite hard to debug though.

[2022-07-05 19:55] #159 closed

[2022-07-05 19:59] justin808 commented on #159
@januszm does this help: https://github.com/shakacode/shakapacker/pull/160

[2022-07-05 20:01] januszm commented on #159
@justin808  It looks good, there's less emphasis on moving files out of packs while  still enough info about not nesting. 👍

[2022-07-05 21:55] januszm commented on #125
Actually, please consider not deprecating and removing it in future versions. Instead, we can add a configuration option and show the deprecation message only if the configuration is not set. For example: `yarn_install: true/false` , if true, it behaves as usual, if false it does not yarn install.

Looks like this change is mostly wanted by Heroku users, but at the same time it is unwanted by Amaz

[2022-07-05 21:57] januszm commented on #125
@justin808  I'm on 6.5 and it still breaks builds on AWS

[2022-07-05 22:03] januszm commented on #125
I'm sorry about the confusion regarding the log message guys, obviously the Warning cannot cause exit 1 or 2. Amazon EB somehow merges this log message with a general failure report for the build and it all looks like below:

[code]
the root cause was somewhere else, AWS just "promoted" the Shakapacker deprecation message to be the root cause of the problem.

[2022-07-07 07:45] tomdracz opened #166 "Ignore the Gemfile.lock in Shakapacker's root directory?"
### Discussed in https://github.com/shakacode/shakapacker/discussions/163

<div type='discussions-op-text'>

<sup>Originally posted by **RailsCod3rFuture** July  6, 2022</sup>
Given that the gem lock file is inside of the root directory for the gem -- its causing AWS to pickup anomalies & things that it consider vulnerabilities/outdated gems. Is it mandatory that we have the gemfile.lock stored wi

[2022-07-07 07:47] tomdracz commented on #158
+1 on temp file in the current directory

[2022-07-07 07:59] justin808 commented on #166
@tomdracz I agree.

We've done it that way forever for React on Rails.

[2022-07-07 15:31] RailsCod3rFuture commented on #166
Working on the PR now.

[2022-07-08 11:21] #119 closed

[2022-07-14 18:50] alexeyr-ci1 commented on #166
Note that the current Bundler recommendation is the opposite https://bundler.io/guides/faq.html:

Coincidentally, I've mentioned this recommendation and my inconvenience from the lack of `Gemfile.lock` in an issue there: https://github.com/shakacode/react_on_rails/issues/1470

[2022-07-16 08:29] tomdracz commented on #166
Is there a best of both worlds solution where e keep Gemfile.lock but not include it in the gem bundle?

https://github.com/shakacode/shakapacker/blob/master/webpacker.gemspec#L29 modifying files list in the gemspec maybe?

[2022-07-16 10:54] RailsCod3rFuture commented on #166
Yes, @tomdracz -- I'm working on a PR for it now

[2022-07-16 11:39] RailsCod3rFuture commented on #166
I tried that @tomdracz -- doesn't pass ci

[2022-07-16 11:41] RailsCod3rFuture commented on #166
We'll have to settle for our current approach for now...Given that the rails version for the gem will show on vulnerability scanners even when the main repo is using patched versions

[2022-07-29 15:27] oleksiivykhor commented on #147
@justin808 still without a reproduction repo, but I've figured out where is the problem. I've replaced `type: "module"` with `type: "commonjs"` within `node_modules/package_name/package.json` and the module became working. That's weird, because the same module works properly with webpacker/webpack4.

[2022-08-12 22:53] justin808 opened #177 "Mapping of `media/<some_dir>/<more_dirs>/image.png` to `static/<more_dirs>/image.png`"
@tomdracz per your comment here: https://github.com/shakacode/shakapacker/pull/47#issuecomment-1029014169

Why are you removing the top-level directory of `fonts` and `images` from the manifest and the output?

https://github.com/shakacode/shakapacker/pull/47/files#diff-716197750a05276089fff034fe03597e5d569526a8ea683fb0022cf69456cbc4R28

I'm doing an upgrade, and it seems odd to arbitrarily remove

[2022-08-13 10:02] skyksandr opened #178 "css modules are not currently supported"
A bug is a crash or incorrect behavior. If you have a debugging or troubleshooting question, please open a discussion on [Discussions Tab](https://github.com/shakacode/shakapacker/discussions).

Ruby version: 3.1.2
Rails version: 7.0.3.1
Webpacker version: 6.5.0

Expected behavior:
To support css modules out of the box

Actual behavior:
css modules are not supported. When attempting to import from

[2022-08-14 06:31] skyksandr commented on #157
@justin808, all, but `bin/webpacker` and `bin/webpacker-dev-server` or you would like it to be `bin/shakapacker` and `bin/shakapacker-dev-server`?

[2022-08-15 08:17] #156 closed

[2022-08-15 09:20] tomdracz commented on #177
Webpacker RC changed the output path to static but along the way stopped respecting nested folders. Fixed that but left dropping the parent folder to leave the behaviour the same for non nested files.

Not sure if webpacker before v6 ever left parent folder alone. I think it was putting files in different folders based on file type though

[2022-08-15 17:39] justin808 commented on #177
@tomdracz v5 left the parent folder alone.

So dropping the top-level folder results in changes shown above for v5 => v6 migrations.

[2022-08-16 02:40] Judahmeek commented on #178
@skyksandr According to CSS-Loader documentation [modules: undefined (the default value, which we're currently using)](https://github.com/webpack-contrib/css-loader#modules) & [modules: {auto: true}](https://github.com/webpack-contrib/css-loader#auto) result in the same behavior: `enable CSS modules for all files matching /\.module\.\w+$/i.test(filename) and /\.icss\.\w+$/i.test(filename) regexp.`

[2022-08-16 04:57] skyksandr commented on #178
@Judahmeek you're right. I don't know why it did not work without it before and why it work without it now.

[2022-08-16 04:57] #178 closed

[2022-08-17 10:34] justin808 commented on #177
@tomdracz for v7, are you in favor of removing the stripping of the top folder?

I see that you kept compatibility between the beta and the final version. I think we should have focused on v5 to v6 compatibility.

[2022-08-20 22:04] jwoodrow commented on #177
I'm getting a strange behaviour where the manifest in `development` and `production` for example is build with `static/path_to_asset` but in the `test` environment it's build with the old way `media/path_to_asset` when using `shakapacker@6.5.1` and `rails@7.0.3.1`

I was also wondering why this changed from webpacker to shakapacker and came across this issue.

[2022-08-31 15:03] tomdracz commented on #177
Yeah, happy to remove top folder stripping in next major release!

[2022-08-31 21:40] justin808 opened #183 "NODE_ENV needs to default to 'development' if not set"
# Problem

`NODE_ENV` == `test` needs to be saved for JS only code, such as running Jest and Storybook, and NEVER for rspec or other integration tests.

## Broken originally, like this:

https://github.com/rails/webpacker/blame/93386ed7e85928b38b46f3f3dd259ae3a9e59090/lib/install/bin/webpack

## Fixed:

https://github.com/rails/webpacker/pull/1359

https://github.com/rails/webpacker/blame/33b6c05d

[2022-08-31 21:41] justin808 commented on #183
@tomdracz @Judahmeek @alexeyr-ci1 please review.

[2022-09-01 06:37] tomdracz commented on #183
Makes sense to me, looks like a sensible change!

[2022-09-01 07:31] alexeyr-ci1 commented on #183
Agreed.

[2022-09-01 10:31] jwoodrow commented on #95
Hi @krystof-k, I was curious how you got shakapacker (webpacker-dev-server) to work well with rails using docker ?

Because I'm currently encountering an issue where everything builds fine but once I try accessing any page, the rails service can't seem to connect to the webpacker service and ends up recompiling webpack which kind of defeats the purpose of having webpacker-dev-server to reload code

[2022-09-01 12:56] krystof-k commented on #95
Hi @jwoodrow, my Docker Compose, in a nutshell, looks like this:

[code]

Then in webpacker.yml, I have:

[code]

Feel free to reach me at krystof@korb.cz in case it didn't work out, I'll try to help :)

[2022-09-01 14:26] jwoodrow commented on #95
I was missing the `compile: false` which was at true and didn't cause those issues when running everything on the base machine

Thanks for the help ! 🎉👌

[2022-09-02 02:30] alexvbush opened #184 "Help wanted for figuring ou webpack/webpacker/shakapacker and rails asset handling"
hi everyone, I'm not a full time rails dev and don't follow the community and the news about rails that closely. Was very sad to find out that webpacker was officially not supported by rails maintainers anymore but am very much relieved that Shakacode folks are supporting it with shakapacker! Thank you!

That said, I am experiencing, seemingly never ending nightmarish, issues trying to upgrade my

[2022-09-02 11:17] justin808 commented on #184
Hi @alexvbush, let's touch base next month, as I'm quite busy preparing for [Rails Remote Conference 2022](https://topenddevs.com/conferences/rails-remote-conf-2022#schedule).

If anybody is in a similar position and would like ShakaCode to take care of the migrations so that the team can focus on features, check out my article [ShakaCode Client Engagement Model](https://www.shakacode.com/blog/cli

[2022-09-02 11:19] justin808 commented on #184
@alexvbush I'm closing this as this is not an "issue." It belongs in discussions.

[2022-09-02 11:19] #184 closed

[2022-09-02 11:22] justin808 commented on #177
@jwoodrow see https://github.com/shakacode/shakapacker/issues/183.

[2022-09-05 14:13] alexeyr-ci1 commented on #183
@justin808

[2022-09-05 14:14] alexeyr-ci1 commented on #183
@justin808

Some people may be using the stubs directly. My suggestion would be to change them as well instead of removing.

[2022-09-06 07:13] justin808 commented on #183
Yes, remove from the binstubs installed, and be sure to mention this in the CHANGELOG.

[2022-09-08 09:51] #183 closed

[2022-09-09 21:44] paul-mesnilgrente opened #187 "SSR (Server Side Rendering) with react-rails"
### Steps to reproduce

1. Clone this repo: https://github.com/paul-mesnilgrente/shakapacker-with-react-rails
2. `yarn` and `bundle install`
3. `bin/rails server` and `bin/webpacker-dev-server`
4. Go to localhost:3000 and see the error

### Expected behavior

I expect the app to show a nice "Hello Gus!"

### Actual behavior

The page errors

### System configuration

**Shakapacker version**: 6.5.0

[2022-09-19 19:24] bughit opened #188 "shakapacker yarn:install is combined with the rails yarn:install"
Ruby version: 2.6.9
Rails version: 5.2 - 7.0
Shakerpacker version: 6.5.1

[rails yarn:install](https://github.com/rails/rails/blob/5-2-stable/railties/lib/rails/tasks/yarn.rake)
[shakapacker yarn:install](https://github.com/shakacode/shakapacker/blob/master/lib/tasks/yarn.rake)

Both are loaded. Defining the task twice creates two consecutive actions. Executing yarn install twice may not be a big

[2022-09-20 12:27] MBM1607 opened #189 "Stuck on assets:precompile"
Ruby version: *2.7.4*
Rails version: 6.1.6
Webpacker version: 6.5.1

# Background
I have a repo with a lot of assets, some 200 js files and 100 scss files handled through shackapacker + webpack.
In development & test environment it works gloriously and without a hitch.

Issue occurs in production, first when any asset changes then precompile doesn't re-compile it.

`rake webpacker:clobber` has to

[2022-09-20 20:33] paul-mesnilgrente commented on #187
Maybe I should have asked differently.

Does anyone have a working SSR with react-rails and Shakapacker? If so, could you provide an example project?

[2022-09-21 15:20] jasonfb commented on #166
I think the issue is that you are including the entirity of the Gem's files into the bundled gem. you are doing so here in the gemspec:
https://github.com/shakacode/shakapacker/blob/master/webpacker.gemspec#L29

Typically I think this is a bad idea. For one thing, you are bundling all of the associated support files for the gem (the tests, etc) into everyone's Rails app, making all our apps more b

[2022-10-13 18:42] Judahmeek commented on #189
Other than working with webpack devs to optimize their compilation process, the only optimization that I can think of would be some sort of code splitting, such as with React on Rails Pro & Loadable-Components or React v18's Suspense + React.lazy

[2022-10-13 18:42] #189 closed

[2022-10-13 19:10] Judahmeek commented on #188
It doesn't look like there's an easy solution for this.

While [Rake::Task.enhance adds tasks to a public array](https://github.com/ruby/rake/blob/1cb1d33266e3cc75112bc61d6ba2e981ca86c5ed/lib/rake/task.rb#L117) & each task in that array can be queried for its source location, more research would have to be done to determine when rails or shakapacker's assets:precompile enhancements are actually de

[2022-10-13 19:51] bughit commented on #188
I am removing it in the Rakefile

[code]
Whether a gem can hook into something after task load but before execution, to do the above, I haven't investigated.

[2022-10-13 20:39] Judahmeek commented on #187
Based on https://github.com/reactjs/react-rails/issues/1201, this doesn't seem to be Shakapacker related.

[2022-10-13 20:39] #187 closed

[2022-10-13 20:45] Judahmeek commented on #166
Resolved by #169 & #174

[2022-10-13 20:45] #166 closed

[2022-10-13 20:47] #92 closed

[2022-10-13 20:54] Judahmeek commented on #126
Closing as stale

[2022-10-13 21:10] bughit commented on #188
can also be done in a prereq for 'yarn:install', which shakapacker can do

[code]

[2022-10-13 22:57] justin808 opened #191 "A few questions about the upgrade guide"
### Discussed in https://github.com/shakacode/shakapacker/discussions/172

<div type='discussions-op-text'>

<sup>Originally posted by **alexandergitter** July 14, 2022</sup>
Hi there,

I'm currently going through the upgrade guide (coming from Webpacker v5) and I have a few questions.

- The upgrade guide talks about going from v5 to v6.0.0.rc.6 in multiple places, but the code snippet then actua

[2022-10-20 08:12] justin808 commented on #126
We've been doing some experiments using the webpack-dev-server for `RAILS_ENV='test'` and it seems to work well.

It looks something like this.

[code]

First start the weback-dev-server with:
`RAILS_ENV=development NODE_ENV=development bin/webpacker-dev-server`

Then start your server for development like `NODE_ENV=development RAILS_ENV=development rails s`.

Then you can run a test in developmen

[2022-10-21 21:31] justin808 commented on #157
How can we do this to make the migration easiest?

[2022-10-21 21:40] justin808 commented on #157
![image](https://user-images.githubusercontent.com/1118459/197292689-4125dd31-6a60-4524-91b8-a14536b7109c.png)
![image](https://user-images.githubusercontent.com/1118459/197292851-7bdad809-35e9-4a49-b603-019f1c781c71.png)
![image](https://user-images.githubusercontent.com/1118459/197292867-8b610501-31cc-42fc-b939-73a607545788.png)

[2022-10-24 12:27] danielnc opened #194 "Support for embed javascript files from gems / add to additional paths"
I am moving to shakapacker from jsbundling(+webpacker) to simply a lot of the configurations and follow more of the rails conventions, but I have an issue where I was previously using Pagy in one of my stimulus controllers

To accomplish that previously this is what I had on my package.json

`"build": "PAGY_PATH=\"$(bundle show 'pagy')/lib/javascripts\" webpack --config ./config/webpack/webpack.co

[2022-10-24 16:46] alkesh26 commented on #157
@justin808 Should we go with [this](https://stackoverflow.com/a/14149821) approach?

[2022-10-24 23:22] justin808 commented on #126
@Judahmeek plans to add an example of this to https://github.com/shakacode/react_on_rails_demo_ssr_hmr/issues/32.

[2022-10-24 23:24] justin808 commented on #126
@tomdracz per your comment above, I think it's worth distinguishing local testing (webpack-dev-server, fast is good!) and CI testing where we precompile assets and _should_ use a NODE_ENV=production (not `test`).

@tomdracz would you favor changing the default install files per the above addition of the dev_server to the `test` env?

[2022-10-26 08:07] justin808 opened #195 "Please add support for pnpm"
Originally from @mattp0123

**Is your feature request related to a problem? Please describe.**

If one uses pnpm...

When I run `bin/rails generate react_on_rails:install`, it says:
[code]

**Describe the solution you'd like**
Please add support for pnpm, it's a very powerful modern front-end tool.

[2022-10-27 01:19] justin808 commented on #157
@alkesh26 I don't think you understand the task for _this_ gem. We've already made the new gem here.

Maybe you can open an issue for https://github.com/rails/webpacker suggesting the deprecation notice on installs?

[2022-10-27 14:34] tomdracz commented on #188
We had this removed in https://github.com/shakacode/shakapacker/pull/131/files but brought it back with deprecation notice.

In general, I would keep this for V7 and remove once again, that whole enhancement malarkey is bit too magical for my tastes

[2022-10-27 17:37] bughit commented on #188
the enhancement of assets:precompile is not the focus here

what matters is shakapacker and rails both define yarn:install so when it's invoked (whether by assets:precompile or manually) both actions will execute

[2022-10-29 07:53] tagliala opened #196 "Allow babel-loader 9.0"
Babel loader released 9.0.0 a couple of days ago

Here it is the changelog: https://github.com/babel/babel-loader/releases/tag/v9.0.0

Ruby version: _not relevant_
Rails version: _not relevant_
shakapacker version: 6.5.4

### Desired behavior:
Allow the usage of babel-loader 9.x without warnings

### Actual behavior:
[code]

[2022-10-31 11:48] tomdracz commented on #196
Looking at changelog, we should be all good. Feel free to open PR @tagliala to allow 9.x.x of babel loader alongside ^8.2.4 version. If not picked up, I will try and open up PR myself in the next few days

[2022-10-31 12:26] tagliala commented on #196
@tomdracz what about the dev dependency?

Should it bumped up to 9.0 for development?

[2022-11-02 08:16] tagliala opened #198 "Asset compilation fails when updating to 6.5.3 (Mini CSS Extract Plugin initialization error)"
Hi, I think it is this change:

https://github.com/shakacode/shakapacker/blob/0750276b2d686252cb3fb1dce8a3e67ba3a782a3/package/environments/base.js#L76

### CI Failure

https://github.com/diowa/ruby3-rails7-bootstrap-heroku/pull/270

### Error

[code]

### How to replicate

[code]

[2022-11-02 08:21] daniel-rikowski opened #199 "Mini CSS Extract Plugin initialization error with Shakapacker 6.5.3"
Ruby version: 3.1.2
Rails version: 7.0.4
Shakapacker version: 6.5.3

*mini-css-extract-plugin: 2.6.1*

Expected behavior:

Calling `require('shakapacker')` in the first line of my `webpack.config.js` should work.

Actual behavior:

Runtime error:

[code]

Small, reproducible repo:

[code]
... but seriously:

PR #192 changed the initialization of MiniCSsExtractPlugin and in `environments/base.js` t

[2022-11-02 08:25] justin808 commented on #194
Hi @danielnc, the use of the default webpack config object is optional! I'd recommend modifying the resulting webpack config object to meet your needs. Just import the default config, check it in the debugger, and modify the config object per your needs. Be sure to test for NODE_ENV equals development and production.

[2022-11-02 08:25] #194 closed

[2022-11-02 08:37] daniel-rikowski commented on #199
I just noticed this is a duplicate of #198

[2022-11-02 08:37] #199 closed

[2022-11-02 09:42] alexeyr-ci1 opened #200 "Convert the NPM package to Typescript"
Convert https://github.com/shakacode/shakapacker/tree/master/package to use Typescript. In addition to catching possible errors, it will be nicer to consume in other projects (whether they use TS themselves or not).

[2022-11-02 13:57] Eric-Guo commented on #198
My #202 try to fix it, hopefully.

[2022-11-02 16:40] kevinbbd opened #203 "[Windows] Errno::EACCES: Permission denied @ rb_file_s_symlink (config/webpacker.yml)"
`Errno::EACCES: Permission denied @ rb_file_s_symlink - (../lib/install/config/webpacker.yml, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/shakapacker-6.5.2/config/webpacker.yml)`

An error occurred while installing shakapacker (6.5.2) on Ruby v2.7.6 installed on Windows 10 without elevated permissions, this error prevents Bundler from continuing. This stems from the symlink in the [config/webpacker.yml

[2022-11-03 17:16] ahangarha opened #204 "Absolute source_entry_path in webpacker.yml refers to filesystem root"
Ruby version: `3.1.2`
Rails version: `6.1.7` & `7.0.1`
Shakapacker version: `6.5.2`

### Expected behavior:
Installing react-rails with shakapacker should be smooth with the default `webpacker.yml` config for `source_entry_path`.

### Actual behavior:
Since the current value is set to `/`, any path operation on this path results in getting path for the filesystem root rather `source_path`. See als

[2022-11-04 18:21] justin808 commented on #203
@kevinbbd can you try 6.5.4?

[2022-11-04 18:23] justin808 commented on #203
Can you see if older versions have this issue?

[2022-11-06 22:28] leastbad opened #206 "`net-protocol` already initialized constant log noise with Ruby 2.7.x"
Ruby version: 2.7.4
Rails version: 7.0.4
Shakapacker version: 6.5

Expected behavior:

`rails c`, `rails s` or task running should operate as usual.

Actual behavior:

Shakapacker README suggests Ruby 2.6+ support, but when I run with any 2.7.x it spits out a bunch of log noise:

[code]

There are no warnings if you run it with Ruby 3.x.

Small, reproducible repo:

[code]

Switch between 2.7.4 and

[2022-11-07 19:34] kevinbbd commented on #203
Thanks for following up @justin808, greatly appreciated!

I tried installing v6.5.4 of the shakapacker gem and it resulted in the same error as the [symbolic link](https://github.com/shakacode/shakapacker/blob/v6.5.4/config/webpacker.yml) still exists in v6.5.4.

rb_file_s_symlink error v6.5.4:
`Errno::EACCES: Permission denied @ rb_file_s_symlink - (../lib/install/config/webpacker.yml, C:/Ruby27-

[2022-11-15 10:33] BALOTIAS opened #208 "babel-loader rules ignores additional_paths that come from node_modules"
Ruby version: 3.1.2
Rails version: 7.0.4
Shakapacker version: 6.5.4

**Expected behavior:**
Directories in `webpacker.yml` `additional_paths` should all be transpiled, even if they're  inside `node_modules`. Otherwise third-party packages like let's say `@hotwired/turbo-rails` might not work for custom browserlist configurations. (I had to support Safari 14, and turbo needed to be transpiled becau

[2022-11-15 19:55] texpert commented on #206
Adding the following gems explicitly to the Gemfile helped me to get rid of this issue:

[code]

[2022-11-17 18:34] tagliala opened #209 "Allow webpack-cli 5.0"
https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/CHANGELOG.md#500-2022-11-17

Ruby version: _not relevant_
Rails version: _not relevant_
shakapacker version: 6.5.4

### Desired behavior:
Allow the usage of webpack-cli 5.x without warnings

### Actual behavior:
[code]

[2022-11-19 09:26] tagliala commented on #198
Closed via #202 and released in 6.5.4

[2022-11-19 09:26] #198 closed

[2022-11-20 04:22] justin808 commented on #209
@tagliala any chance that you can contribute a PR?

[2022-11-20 13:26] tagliala commented on #209
@justin808 sure, I've also asked what do you prefer with https://github.com/shakacode/shakapacker/issues/196#issuecomment-1297012853

[2022-11-21 01:39] justin808 commented on #196
Yes. Once we've confirmed it works!

[2022-11-22 10:00] tagliala opened #210 "Working tree not clean when running `bundle exec rake`"
Ruby version: 3.1
Rails version: n/a
Shakapacker version: master

### Expected behavior:
No changes to the working tree

### Actual behavior:
After running `bundle exec rake`, a new file is being created:

[code]

### Small, reproducible repo:

1. Clone this repo
2. Run `bundle exec rake`

---

Can't tell if the file should be committed or ignored, if you advise I can submit a PR

[2022-11-22 11:07] tagliala opened #211 "Warnings when executing specs"
Ruby version: 3.1
Rails version: not relevant
Shakapacker version: master

### Expected behavior:

No warnings

### Actual behavior:

[code]

Small, reproducible repo:
1. Clone this repo
2. Run `bundle exec rake`

[2022-11-26 04:38] #211 closed

[2022-11-27 09:31] tagliala opened #214 "Drop Node 12 support"
- Node 12 is in EOL
- GitHub actions using node 12 have been deprecated (see Annotations [here](https://github.com/shakacode/shakapacker/actions/runs/3554486233))
- New dependencies like Babel Loader 9 and Webpack-cli 5 require Node >= 14(.15)

[2022-11-28 11:31] alexeyr-ci1 opened #217 "Update webpack-dev-server configuration"
1. Not all keys in https://webpack.js.org/configuration/dev-server/ are supported in https://github.com/shakacode/shakapacker/blob/f5dfe4a7c85800c11101309187297ce8030b4422/package/environments/development.js#L17-L41. Should we add support for the rest?
2. The recommended value for `allowed_hosts` is `auto`, not `all` which we have by default. It shouldn't be changed in a patch version, but maybe i

[2022-11-29 23:00] justin808 commented on #126
The main issue with using the webpack-dev-server for tests is that the JS code will have embedded JS to so that the browser talks to the webpack-dev-server via web sockets, and that can cause all sorts of unnecessary and unexpected complications, especially if using different docker containers the different processes in terms of configuration of networking.

@tomdracz I'd love your thoughts on thi